<!--  GRAPHICS  -->
<div class="container-fluid" id="graphics_container">
    <div class = "row justify-content-center"  id="graphics_title_row">
        <div class = "col-md-1 d-flex justify-content-center" id="blank_col">  </div>
        <div class = "col-md-10 d-flex justify-content-center" id="graphics_title_col"><h3 id="graphics_title_label"></h3></div>
        <div class = "col-md-1 d-flex justify-content-end" id="exit_graphics_col">
            <button type="button" class="btn-close btn-lg" aria-label="Close" id="exit_graphics_btn"></button>
        </div>
    </div>

    <div class = "row justify-content-center" id="graphics_row">
        <div class = "col-lg-3 d-flex justify-content-center" id="lastweek_col"></div>
        <div class = "col-lg-3 d-flex justify-content-center" id="rentals_col"></div>
        <div class = "col-lg-3 d-flex justify-content-center" id="returns_col"></div>
        <div class = "col-lg-3 d-flex justify-content-center" id="availability_col"></div>
    </div>
</div>