body {
    background-color: white;
}
#language_icon{
    font-size: 2.5rem;
}
#language_container{
    width: 130px;
    right: 1%;
    padding-top: 19px;
    position: absolute;
}
@media (max-width: 1400px) {
    #language_container {
        right: 1.5%;
    }
}

@media (max-width: 767px) {
    #language_row{
        flex-wrap: nowrap;
    }
}

#english_col, #euskera_col, #español_col{
    padding-top:3.5%;
}

#loginbox {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

#loginbox > div:first-child {        
    padding-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
